body {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.container {
    padding-top: 10px;
}
li {
    list-style-type: none;
}
.cookie-domain {
    width: 400px;
}
.cookie-value {
    width: 400px;
}
