<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/jquery-2.0.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/custom.css" rel="stylesheet" media="screen">
  <link href="popup.css" rel="stylesheet" media="screen">
</head>

<body>
  <nav id="header" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li id="options"><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="app">
      <table id="cookies">
        <tr v-for="(cookie, cidx) in cookies">
          <td class="cookie-name">{{cookie.name}}</td>
          <td class="cookie-tag">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary btn-sm" v-bind:class="{'active': pattern.isActive}" v-for="(pattern, pidx) in cookie.patterns" @click="clickTag(cidx, pidx)" >
                <input type="radio"> {{pattern.tag}}
              </label>
            </div>
          </td>
          <td class="cookie-value"><input v-model="cookie.value" class="form-control input-sm" placeholder="Cookie value" /></td>
        </tr>
      </table>

      <!--<hr>
      {{cookies}}-->
    </div>

    <script src="popup.js"></script>
  </div>
</body>
</html>